{% extends "todo/base.html" %}

{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-10">
            {% if todos %}
                 <h1> Current{{ todos.count|pluralize }}</h1>
            {% else %}
                <h1>Current</h1>
            {% endif %}
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-10">
        {% if todos %}
            <div class="list-group">
                {% for todo in todos %}
                    {% if todo.important %}
                        <a href="{% url 'viewtodo' todo.id %}" id="task_button" class="list-group-item list-group-item-action{% if todo.important %} list-group-item{% endif %}"><b><i class="fa-solid fa-star"></i>{{ todo.title }}</b>{% if todo.memo %} - {{ todo.memo|truncatechars:30 }}{% endif %}</a>                   
                    {% else %}
                        <a href="{% url 'viewtodo' todo.id %}" id="task_button" class="list-group-item list-group-item-action"><b>{{ todo.title }}</b>{% if todo.memo %} - {{ todo.memo|truncatechars:30 }}{% endif %}</a>                                    {% endif %}
                    {% endfor %}
                <br>
                <a role="button" id = "button_attribute" class="btn btn-primary" href="{% url 'createtodo' %}">New Moo</a>
            </div>
        {% else %}
            <div class="text-center">
                <h2>Looks like you don't have any Memo's. <br>Get Started!</h2>
            <br>
            <a role="button" id = "button_attribute" class="btn btn-primary" href="{% url 'createtodo' %}">New Moo</a>
            </div>
        {% endif %}
        </div>
    </div>
{% endblock %}
